In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

In [5]:
tickerData = yf.Ticker('MSFT')

In [7]:
tickerData.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-04-26 12:02:43     BMO Capital     Outperform              main
2022-04-27 10:30:55  Wolfe Research     Outperform              main
2022-04-27 11:39:41   Deutsche Bank            Buy              main
2022-04-27 11:42:42          Stifel            Buy              main
2022-04-27 11:46:09         Wedbush     Outperform              main

[373 rows x 4 columns]

In [10]:
recDF = tickerData.recommendations
recDF

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-04-26 12:02:43     BMO Capital     Outperform              main
2022-04-27 10:30:55  Wolfe Research     Outperform              main
2022-04-27 11:39:41   Deutsche Bank            Buy              main
2022-04-27 11:42:42          Stifel            Buy              main
2022-04-27 11:46:09         Wedbush     Outperform              main

[373 rows x 4 columns]

In [23]:
newDF = recDF.groupby(['To Grade']).count()
newDF.index

Index(['', 'Buy', 'Equal-Weight', 'Hold', 'Long-Term Buy', 'Market Perform',
       'Neutral', 'Outperform', 'Overweight', 'Perform', 'Sector Perform',
       'Sell', 'Strong Buy', 'Underperform', 'Underweight'],
      dtype='object', name='To Grade')

In [25]:
finDF = tickerData.financials
finDF

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,20716000000.0,19269000000.0,16876000000.0,14726000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,71102000000.0,53036000000.0,43688000000.0,36474000000.0
Minority Interest,None,None,None,None
Net Income,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Selling General Administrative,25224000000.0,24523000000.0,23098000000.0,22223000000.0
Gross Profit,115856000000.0,96937000000.0,82933000000.0,72007000000.0
Ebit,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Operating Income,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2330000000.0,-2591000000.0,-2686000000.0,-2733000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9831000000.0,8755000000.0,4448000000.0,19903000000.0
Total Revenue,168088000000.0,143015000000.0,125843000000.0,110360000000.0
Total Operating Expenses,98172000000.0,89870000000.0,82884000000.0,75302000000.0
Cost Of Revenue,52232000000.0,46078000000.0,42910000000.0,38353000000.0
Total Other Income Expense Net,1186000000.0,-109000000.0,729000000.0,1416000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Net Income Applicable To Common Shares,61271000000.0,44281000000.0,39240000000.0,16571000000.0

In [26]:
finDF['Gross Profit']

KeyError: 'Gross Profit'